/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "Compacta Bd BT";
  src: url(..///fonts/CompactaBT-Bold.woff2) format("woff2"),
    url(..//fonts/CompactaBT-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-portishead-third-01: #317088;
  --color-portishead-third-02: #dde3e6;
  --color-portishead-third-03: #8ab4bd;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--color-portishead-third-01);
}
body {
  position: relative;
}

/*---------------------------------------------------------------------------------------------------NAVBAR-ALL_PAGES----------------------------------------------------------------------------------------------------------*/

.menu {
  background-color: var(--color-portishead-third-01);
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.site-name {
  font-family: Compacta Bd BT;
  color: var(--color-portishead-third-02);
  font-size: 3rem;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.site-name:hover {
  text-decoration: none;
  color: var(--color-portishead-third-03);
}

/*-----------------------------------------------------------------Hamburger Button----------------------------------*/

.hamburger-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border-color: var(--color-portishead-third-02);
  border-style: solid;
  padding: 0;
  border-width: 0.2rem;
}

.hamburger-button-bar {
  background-color: var(--color-portishead-third-02);
  width: 70%;
  height: 0.2rem;
  margin: 0.3rem auto;
  border-radius: 0.2rem;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------P LOGO SVG----------------------------------*/
/* Band Logo In SVG form styled to the colours of the site, with a hover effect, scales with Navbar expansion*/
.p-logo {
  width: 5rem;
  height: 100%;
  visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  padding: 10px 0 10px 0;
}

.p-logo-path-01 {
  fill: var(--color-portishead-third-01);
  stroke: var(--color-portishead-third-02);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.p-logo-path-03 {
  fill: var(--color-portishead-third-02);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.p-logo-path-02 {
  fill: var(--color-portishead-third-01);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.p-logo:hover {
  cursor: pointer;
}
.p-logo:hover .p-logo-path-01 {
  fill: var(--color-portishead-third-02);
  stroke: var(--color-portishead-third-01);
}
.p-logo:hover .p-logo-path-02 {
  fill: var(--color-portishead-third-02);
}
.p-logo:hover .p-logo-path-03 {
  fill: var(--color-portishead-third-01);
}

/*--------------------------------------------------------------------------------------------------------------*/

a.nav-link.active-page {
  color: var(--color-portishead-third-03);
}

.menu-item a {
  color: var(--color-portishead-third-02);
  font-size: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-item a:hover {
  color: var(--color-portishead-third-03);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------HEADER-IMAGE---------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header-image {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 2.5rem;
  background-position: 50% 26%;
  position: relative;
}

.header-image-title {
  position: absolute;
  color: var(--color-portishead-third-02);
  font-weight: 500;
  font-size: 8vh;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-image[data-page="Tour"] {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(0, 0, 0)),
      color-stop(49%, rgba(49, 112, 136, 0.3)),
      to(rgba(49, 112, 136, 1))
    ),
    url(..//media/images/tour/tour-header.jpg);
  background-image: -o-linear-gradient(
      top,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/tour/tour-header.jpg);
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/tour/tour-header.jpg);
}

.header-image[data-page="music"] {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(0, 0, 0)),
      color-stop(49%, rgba(49, 112, 136, 0.3)),
      to(rgba(49, 112, 136, 1))
    ),
    url(..//media/images//Music/music-header.jpg);
  background-image: -o-linear-gradient(
      top,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images//Music/music-header.jpg);
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images//Music/music-header.jpg);
}

.header-image[data-page="photos"] {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(0, 0, 0)),
      color-stop(49%, rgba(49, 112, 136, 0.3)),
      to(rgba(49, 112, 136, 1))
    ),
    url(..//media/images/photos/photos-header.jpg);
  background-image: -o-linear-gradient(
      top,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/photos/photos-header.jpg);
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/photos/photos-header.jpg);
}

.header-image[data-page="about"] {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(0, 0, 0)),
      color-stop(49%, rgba(49, 112, 136, 0.3)),
      to(rgba(49, 112, 136, 1))
    ),
    url(..//media/images/about/about-header.jpg);
  background-image: -o-linear-gradient(
      top,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/about/about-header.jpg);
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/about/about-header.jpg);
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------FOOTER-ALL_PAGES----------------------------------------------------------------------------------------------------------------------*/

.footer {
  background-color: #000;
  border-top: solid 1px rgb(24, 24, 24);
}

.social-links {
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.social-icon i {
  color: var(--color-portishead-third-02);
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icon i:hover {
  color: var(--color-portishead-third-03);
  font-size: 1.1rem;
}

.record-label {
  text-align: center;
}

.island-logo {
  margin: 10px 0;
}
.island-logo svg {
  width: 3em;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.island-logo svg path {
  fill: var(--color-portishead-third-02);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.island-logo svg path:hover {
  fill: var(--color-portishead-third-03);
}

.legal-item {
  margin: 0;
  padding: 0;
  text-align: center;
}

.legal-item a {
  color: #dde3e6;
  font-size: 0.8rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.legal-item a:hover {
  color: var(--color-portishead-third-03);
  font-size: 0.9rem;
}
.copyright {
  margin: 0;
}

/*-----------------------------FOOTER_IMAGE---------------------------------------------------------------------------------------------------------------------------------------------------*/

.footer-image {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  background-position: 50% 100%;
}

.footer-image[data-page="home"] {
  background-color: #000;
  min-height: 20rem;
}
.footer-image[data-page="Tour"] {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgb(0, 0, 0)),
      color-stop(49%, rgba(49, 112, 136, 0.3)),
      to(rgba(49, 112, 136, 1))
    ),
    url(..//media/images/tour/tour-footer.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/tour/tour-footer.jpg);
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/tour/tour-footer.jpg);
}
.footer-image[data-page="music"] {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgb(0, 0, 0)),
      color-stop(49%, rgba(49, 112, 136, 0.3)),
      to(rgba(49, 112, 136, 1))
    ),
    url(..//media/images/Music/music-footer.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/Music/music-footer.jpg);
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/Music/music-footer.jpg);
}

.footer-image[data-page="photos"] {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgb(0, 0, 0)),
      color-stop(49%, rgba(49, 112, 136, 0.3)),
      to(rgba(49, 112, 136, 1))
    ),
    url(..//media/images/photos/photos-footer.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/photos/photos-footer.jpg);
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/photos/photos-footer.jpg);
}
.footer-image[data-page="about"] {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgb(0, 0, 0)),
      color-stop(49%, rgba(49, 112, 136, 0.3)),
      to(rgba(49, 112, 136, 1))
    ),
    url(..//media/images/about/about-footer.png);
  background-image: -o-linear-gradient(
      bottom,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/about/about-footer.png);
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0) 0%,
      rgba(49, 112, 136, 0.3) 49%,
      rgba(49, 112, 136, 1) 100%
    ),
    url(..//media/images/about/about-footer.png);
  background-position-y: 25%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------ABOUT-PAGE-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.bio {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--color-portishead-third-02);
  text-align: justify;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.bio p {
  margin-top: 10px;
}

/*-----------------------------------------------------------------Band Member Profile----------------------------------*/
/*Band member profiles with hover effect,on hover the  colour inverts and more info scrolls up to cover the image, SVG text is used to have fully scalable text without breaking the circle layout*/
.member-profiles-main {
  background-color: var(--color-portishead-third-01);
}

.member-profiles {
  background-color: var(--color-portishead-third-01);
  margin: 0 0 0 0;
  padding: 50px 0 50px 0;
  min-height: 400px;
  font-size: 0;
}

.member {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.profile-img {
  padding-top: 95%;
  width: 95%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 5px auto;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.profile-info {
  position: absolute;
  top: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: var(--color-portishead-third-02);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.profile-img:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.profile-img:hover .profile-info {
  top: 20%;
}
.profile-img:hover .profile-name {
  top: 0;
}

.profile-name {
  position: absolute;
  top: 80%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 0.1rem;
}

.profile-name svg text {
  fill: var(--color-portishead-third-02);
}

.profile-instruments {
  font-size: 0.1rem;
  margin-top: 10%;
}

.profile-instruments svg text {
  fill: var(--color-portishead-third-02);
}

.profile-projects {
  font-size: 0.1rem;
  margin-top: 10%;
}

.profile-projects svg text {
  fill: var(--color-portishead-third-02);
}

.profile-instruments-names {
  margin-top: -10%;
}
.profile-project-names {
  margin-top: -10%;
}

.profile-img.beth {
  background-image: url(..//media/images/beth.jpg);
}

.profile-img.geoff {
  background-image: url(..//media/images/geoff.jpg);
}

.profile-img.adrain {
  background-image: url(..//media/images/adrian.jpg);
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------MUSIC-PAGE------------------------------------------------------------------------------------------------------------------------------------*/

.music-releases {
  background-color: var(--color-portishead-third-01);
  margin-bottom: 5vh;
}

.album-art {
  padding-top: 99%;
  width: 99%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 2px auto;
  border: solid 2px var(--color-portishead-third-03);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.album {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.album:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  z-index: 100;
}

.album:hover .album-art {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.album:hover .album-overlay {
  opacity: 1;
}

.album-listen {
  color: var(--color-portishead-third-02);
  text-align: center;
  margin: 2rem auto;
  font-size: 2rem;
}

.album-listen i {
  color: var(--color-portishead-third-02);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.album-listen i:hover {
  color: var(--color-portishead-third-03);
  font-size: 2.5rem;
}

.album-overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 112, 136, 0.5);
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.album-name {
  color: var(--color-portishead-third-02);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 40%;
}

.album-release-date {
  color: var(--color-portishead-third-02);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

/*----------ALBUM-ART---------------------------------------------*/
.album-art[data-album="dummy"] {
  background-image: url(..//media/images/Music/dummy.png);
}
.album-art[data-album="self-titled"] {
  background-image: url(..//media/images/Music/self-titled.jpg);
}
.album-art[data-album="third"] {
  background-image: url(..//media/images/Music/third.jpg);
}
.album-art[data-album="roseland"] {
  background-image: url(..//media/images/Music/roseland.jpg);
}
.album-art[data-album="chase-the-tear"] {
  background-image: url(..//media/images/Music/chase-the-tear.jpg);
}
.album-art[data-album="magic-doors"] {
  background-image: url(..//media/images/Music/magic-doors.jpg);
}
.album-art[data-album="the-rip"] {
  background-image: url(..//media/images/Music/the-rip.png);
}
.album-art[data-album="machine-gun"] {
  background-image: url(..//media/images/Music/machine-gun.jpg);
}
.album-art[data-album="only-you"] {
  background-image: url(..//media/images/Music/only-you.jpg);
}
.album-art[data-album="over"] {
  background-image: url(..//media/images/Music/over.jpg);
}
.album-art[data-album="all-mine"] {
  background-image: url(..//media/images/Music/all-mine.jpg);
}
.album-art[data-album="glory-box"] {
  background-image: url(..//media/images/Music/glory-box.jpg);
}
.album-art[data-album="sour-times"] {
  background-image: url(..//media/images/Music/sour-times.jpg);
}
.album-art[data-album="numb"] {
  background-image: url(..//media/images/Music/numb.jpg);
}
/*------------------------------------------------------*/

.section-heading {
  min-height: 200px;
  max-width: 100%;
  margin-top: 2.5rem;
  position: relative;
}

/*------------------------------------------------------------------------TOUR-PAGE------------------------------------------------------------------------------------------------------------------------------------*/

.tour-main {
  background-color: var(--color-portishead-third-01);
}
.tour-poster {
  padding-top: 45%;
  width: 90%;
  margin: 20px auto;
  position: relative;
  background-size: cover;
  background-position: 50% 26%;
  border: solid 2px var(--color-portishead-third-03);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.tour-event:hover .tour-poster {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.tour-event:hover .album-overlay {
  opacity: 1;
}
.event-venue-building {
  position: absolute;
  top: 30%;
  text-align: center;
  font-size: 1.5vh;
  width: 100%;
  color: var(--color-portishead-third-02);
  font-weight: 700;
}

.event-venue-building a {
  color: var(--color-portishead-third-02);
  text-decoration: none;
  text-transform: uppercase;
}

.event-venue-building a:hover {
  color: var(--color-portishead-third-01);
}

.event-rsvp {
  position: absolute;
  top: 40%;
  text-align: center;
  font-size: 2vh;
  width: 50%;
}

.event-rsvp i {
  color: var(--color-portishead-third-02);
}
.event-rsvp i:hover {
  color: var(--color-portishead-third-01);
}

.event-tickets {
  position: absolute;
  text-align: center;
  font-size: 2vh;
  width: 50%;
  left: 50%;
  top: 40%;
}
.event-tickets i {
  color: var(--color-portishead-third-02);
}
.event-tickets i:hover {
  color: var(--color-portishead-third-01);
}

.tour-poster[data-venue="london"] {
  background-image: url(..//media/images/tour/londonO2.jpg);
}
.tour-poster[data-venue="paris"] {
  background-image: url(..//media/images/tour/parisaccor.jpg);
}
.tour-poster[data-venue="berlin"] {
  background-image: url(..//media/images/tour/berlin.jpg);
}
.tour-poster[data-venue="dublin"] {
  background-image: url(..//media/images/tour/dublin.jpg);
}
.tour-poster[data-venue="barcelona"] {
  background-image: url(..//media/images/tour/barcelona.jpg);
}
.tour-poster[data-venue="venice"] {
  background-image: url(..//media/images/tour/venice.jpg);
}
.tour-poster[data-venue="lisbon"] {
  background-image: url(..//media/images/tour/lisbon.jpg);
}
.tour-poster[data-venue="moscow"] {
  background-image: url(..//media/images/tour/moscow.jpg);
}
.tour-poster[data-venue="helsinki"] {
  background-image: url(..//media/images/tour//helsinki.jpg);
}
.tour-date {
  width: 20%;
  height: 35%;
  background-color: var(--color-portishead-third-02);
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  position: absolute;
  -webkit-transform: translate(-30%, -70%);
  -ms-transform: translate(-30%, -70%);
  transform: translate(-30%, -70%);
  text-align: center;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--color-portishead-third-01)),
    to(var(--color-portishead-third-03))
  );
  background-image: -o-linear-gradient(
    left,
    var(--color-portishead-third-01),
    var(--color-portishead-third-03)
  );
  background-image: linear-gradient(
    to right,
    var(--color-portishead-third-01),
    var(--color-portishead-third-03)
  );
  color: var(--color-portishead-third-02);
  border-radius: 5px;
}

.venue {
  width: 80%;
  position: absolute;
  top: 0;
  padding-left: 3%;
}

.venue-name {
  position: absolute;
  margin: 0 auto;
}

.venue-name text {
  fill: var(--color-portishead-third-02);
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.tour-date-venue {
  display: block;
  width: 100%;
  height: 25%;
}

.tour-date-date {
  display: block;
  width: 100%;
  height: 70%;
}

.tour-date-date text {
  fill: var(--color-portishead-third-02);
}

.tour-date-month {
  display: block;
  width: 75%;
  height: 30%;
}

.tour-date-month text {
  fill: var(--color-portishead-third-02);
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------BOOTSTRAP OVERRIDES----------------------------------------------------------------------------------------------------------------------------------*/
.list-inline-item:not(:last-child) {
  margin-right: 0;
}
.container-fluid {
  padding: 0;
}
.row {
  padding: 0;
}

/*------------------------------------------------------------------------PHOTOS-PAGE------------------------------------------------------------------------------------------------------------------------------------*/
.my-gallery {
  width: 100%;
  margin-top: 100px;
}

.my-gallery figure {
  margin: 0;
  padding: 0;
}
.gallery-img {
  padding-top: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-square {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery-square:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  z-index: 100;
}

.gallery-square:hover .gallery-img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.gallery-square:hover .album-overlay {
  opacity: 1;
}

.gallery-img[data-gallery-num="1"] {
  background-image: url(..//media/images/photos/insta_01.jpg);
}
.gallery-img[data-gallery-num="2"] {
  background-image: url(..//media/images/photos/insta_02.jpg);
}
.gallery-img[data-gallery-num="3"] {
  background-image: url(..//media/images/photos/insta_03.jpg);
}
.gallery-img[data-gallery-num="4"] {
  background-image: url(..//media/images/photos/insta_04.jpg);
}
.gallery-img[data-gallery-num="5"] {
  background-image: url(..//media/images/photos/insta_05.jpg);
}
.gallery-img[data-gallery-num="6"] {
  background-image: url(..//media/images/photos/insta_06.jpg);
}
.gallery-img[data-gallery-num="7"] {
  background-image: url(..//media/images/photos/insta_07.jpg);
}
.gallery-img[data-gallery-num="8"] {
  background-image: url(..//media/images/photos/insta_08.jpg);
}
.gallery-img[data-gallery-num="9"] {
  background-image: url(..//media/images/photos/insta_09.jpg);
}
.gallery-img[data-gallery-num="10"] {
  background-image: url(..//media/images/photos/insta_10.jpg);
}
.gallery-img[data-gallery-num="11"] {
  background-image: url(..//media/images/photos/insta_11.jpg);
}
.gallery-img[data-gallery-num="12"] {
  background-image: url(..//media/images/photos/insta_12.jpg);
}

/*------------------------------------------------------------------------NEWSLETTER-SING-UP----------------------------*/
.newsletter-signup {
  padding: 4rem 0 0 0;
  text-align: center;
}

.newsletter-signup-title {
  color: var(--color-portishead-third-03);
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
}

.newsletter-signup-options {
  margin: 1rem auto;
}
.newsletter-signup-checkboxes {
  color: var(--color-portishead-third-02);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
}

.newsletter-signup-email,
.newsletter-signup-country,
.newsletter-signup-submit {
  margin-top: 1rem;
}

.newsletter-signup-submit {
  background-color: var(--color-portishead-third-03);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-portishead-third-02);
  border-radius: 0;
  border-width: 2px;
  border-color: var(--color-portishead-third-02);
  margin: 1rem auto;
}

.newsletter-signup-submit:hover {
  color: var(--color-portishead-third-03);
  background-color: var(--color-portishead-third-02);
  border-color: var(--color-portishead-third-03);
}

.newsletter-signup-email,
.newsletter-signup-country {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-portishead-third-02);
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-bottom-style: solid;
  border-bottom-color: var(--color-portishead-third-02);
}

.newsletter-signup-email::-webkit-input-placeholder {
  color: var(--color-portishead-third-02);
}

.newsletter-signup-email::-moz-placeholder {
  color: var(--color-portishead-third-02);
}

.newsletter-signup-email:-ms-input-placeholder {
  color: var(--color-portishead-third-02);
}

.newsletter-signup-email::-ms-input-placeholder {
  color: var(--color-portishead-third-02);
}

.newsletter-signup-email::placeholder {
  color: var(--color-portishead-third-02);
}

/*--------------------------------------------------------------Custom Checkboxes------------------------------------*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--color-portishead-third-02);
    border-radius: 0;
    background: transparent;
    -webkit-transition: background 0.3s, border-color 0.3s;
    -o-transition: background 0.3s, border-color 0.3s;
    transition: background 0.3s, border-color 0.3s;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type="checkbox"]:after {
    content: "";
    display: block;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    -o-transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    opacity: var(--o, 0);
    width: 7px;
    height: 14px;
    border: 3px solid var(--color-portishead-third-02);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 3px;
    -webkit-transform: rotate(var(--r, 20deg));
    -ms-transform: rotate(var(--r, 20deg));
    transform: rotate(var(--r, 20deg));
  }
  input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: var(--color-portishead-third-02);
    border-width: 2px;
    border-radius: 0;
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    --o: 1;
    --r: 43deg;
  }
}

/*--------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Custom Bootstrap Carousel---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.carousel {
  height: 80vh;
  margin-top: 3rem;
}

.carousel-inner img {
  height: 80vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-btn {
  color: var(--color-portishead-third-02);
  background-color: rgba(49, 111, 136, 0.7);
  border-radius: 0;
  text-transform: uppercase;
  border: solid 2px var(--color-portishead-third-02);
  -webkit-box-shadow: 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-btn:hover {
  color: rgba(49, 111, 136, 0.7);
  background-color: var(--color-portishead-third-02);
  border: solid 2px rgba(49, 111, 136, 0.7);
}

.carousel-caption {
  color: var(--color-portishead-third-02);
}

.carousel-caption h5 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-portishead-third-03);
  text-shadow: 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li {
  background-color: var(--color-portishead-third-03);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23317088'  width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23317088' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

/*Custom Bootstrap Carousel---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*HOMPAGE*/
.youtube-embed {
  border: solid 2px var(--color-portishead-third-02);
  margin-bottom: 5rem;
}

.section-button {
  background-color: transparent;
  border: solid 2px var(--color-portishead-third-03);
  color: var(--color-portishead-third-03);
  border-radius: 0;
}

.section-button:hover {
  background-color: var(--color-portishead-third-03);
  border: solid 2px var(--color-portishead-third-01);
  color: var(--color-portishead-third-01);
}

/*HOMPAGE*/

@media only screen and (max-width: 576px) {
}

/*Media Queries*/

@media (min-width: 1200px) {
  .p-logo {
    visibility: visible;
  }
}

@media only screen and (max-width: 768px) {
  .p-logo {
    visibility: visible;
  }
}

@media only screen and (max-width: 992px) {
  .p-logo {
    visibility: visible;
  }
}
/*Media Queries*/
