@font-face {
  font-family: "Compacta Bd BT";
  src: url(..///fonts/CompactaBT-Bold.woff2) format("woff2"),
    url(..//fonts/CompactaBT-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-portishead-third-01: #317088;
  --color-portishead-third-02: #dde3e6;
  --color-portishead-third-03: #8ab4bd;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

/*----------------------------------------------------------------HEADER*/
/*----------------------------------------------------------------MENU*/

.menu {
  background-color: var(--color-portishead-third-01);
  /*box-shadow: 0px 20px 15px 0px rgba(49, 112, 136, 0.2);*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.hamburger-button-bar {
  background-color: var(--color-portishead-third-02);
  width: 70%;
  height: 3px;
  margin: 5px auto;
  border-radius: 2px;
}

.hamburger-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border-color: var(--color-portishead-third-02);
  border-style: solid;
  padding: 0;
  border-width: 3px;
}

.site-name {
  font-family: Compacta Bd BT;
  color: var(--color-portishead-third-02);
  font-size: 3em;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.p-logo {
  width: 10em;
  height: 100%;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 0 10px 0;
}

.p1 {
  fill: var(--color-portishead-third-01);
  stroke: var(--color-portishead-third-02);
  transition: all 0.5s ease-in-out;
}

.p2 {
  fill: var(--color-portishead-third-02);
  transition: all 0.5s ease-in-out;
}

.p3 {
  fill: var(--color-portishead-third-01);
  transition: all 0.5s ease-in-out;
}

.p-logo:hover {
  cursor: pointer;
}
.p-logo:hover .p1 {
  fill: var(--color-portishead-third-02);
  stroke: var(--color-portishead-third-01);
}
.p-logo:hover .p3 {
  fill: var(--color-portishead-third-02);
}
.p-logo:hover .p2 {
  fill: var(--color-portishead-third-01);
}

.site-name:hover {
  text-decoration: none;
  color: var(--color-portishead-third-03);
}

a.nav-link.active-page {
  color: var(--color-portishead-third-03);
}

.menu-item a {
  color: var(--color-portishead-third-02);
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.menu-item a:hover {
  color: var(--color-portishead-third-03);
}

/*----------------------------------------------------------------HERO*/

.hero {
  background-image: url(..//media/images/hero.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.hero-image-space {
  position: relative;
  height: 90vh;
}

.hero-bg-fixed {
  background: url(..//media/images/hero.jpg) center top no-repeat fixed
    var(--color-portishead-third-01);
  background-size: 100%;
  width: 100%;
  height: 99%;
  left: 0;
  top: 0;
  z-index: -1;
  display: table;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero-inner {
  background-color: rgba(49, 112, 136, 0.5);
}

.bio {
  background-color: rgba(49, 112, 136, 0.9);
  color: var(--color-portishead-third-02);
}

.bio p{
  margin-top: 10px;
}

.bio-title {
  color: var(--color-portishead-third-02);
  position: absolute;
  bottom: 0;
}

.member-profiles {
  background-color: rgba(49, 112, 136, 0.5);
  margin: 0 0 0 0;
  padding: 50px 0 50px 0;
  min-height: 400px;
  font-size: 0;
}

.member {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.profile-img {
  padding-top: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.profile-info {
  position: absolute;
  top: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 30px;
  color: var(--color-portishead-third-02);
  transition: all 1s ease-in-out;
}

.profile-img:hover .profile-info{
  top: 20%;
}

.profile-name {
  position: absolute;
  top: 80%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 30px;
  color: var(--color-portishead-third-02);
  transition: all 1s ease-in-out;
}

.profile-img:hover .profile-name{
  top: 0;
}

.profile-img.beth {
  background-image: url(..//media/images/beth.jpg);
}

.profile-img.geoff {
  background-image: url(..//media/images/geoff.jpg);
}

.profile-img.adrain {
  background-image: url(..//media/images/adrian.jpg);
}

/*----------------------------------------------------------------FOOTER*/

.footer {
  background-color: var(--color-portishead-third-01);
  margin-top: 5rem;
  /*box-shadow: 0px -20px 15px 0px rgba(49, 112, 136, 0.2);*/
}

.social-links {
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.social-icon i {
  color: var(--color-portishead-third-02);
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}

.social-icon i:hover {
  color: var(--color-portishead-third-03);
}

.record-label {
  text-align: center;
}

.island-logo {
  margin: 10px 0;
}
.island-logo svg {
  width: 3em;
  height: 100%;
}

.island-logo svg path {
  fill: var(--color-portishead-third-02);
  transition: all 0.3s ease-in-out;
}

.island-logo svg path:hover {
  fill: var(--color-portishead-third-03);
}

.copyright {
  text-align: center;
  color: #dde3e6;
  font-size: 1em;
}

.copyright a {
  text-align: center;
  color: #dde3e6;
  font-size: 1em;
}


.album{
  padding-top: 99%;
  width: 99%;
  background-color: red;
  margin: 2px auto;
}

.header-image{
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 3rem;
  background-position: 50% 26%;
}

.header-image[data-page="Tour"]
{
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 49%, rgba(0, 0, 0, 1) 100%), url(..//media/images/hero.jpg);
}

.footer-image{
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-bottom: 3rem;
  background-position: 50% 26%;
}

.footer-image[data-page="Tour"]
{
  background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 49%, rgba(0, 0, 0, 1) 100%), url(..//media/images/hero.jpg);
}


.tour-main{
  background-color: #000;
}
.tour-poster{
  padding-top: 45%;
  width: 80%;
  background-color: red;
  margin: 20px auto;
  position: relative;
}

.tour-date{
  width: 90px;
  height: 90px;
  background-color: blue;
  box-shadow: 1px 1px 3px #000;
  position: absolute;
  transform: translate(-30%, -70%);
}


/*----------------------------------------------------------------BOOTSTRAP OVERRIDES*/
.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.container-fluid{
  padding: 0;
}

.row{
  padding: 0;
}

@media only screen and (max-width: 576px) {
  .hero-image-space {
    height: 50vh;
  }

  .hero-bg-fixed {
    background-size: 130%;
  }

  .p-logo{
    visibility:visible;
  }
}

@media only screen and (max-width: 768px) {
  .p-logo{
    visibility:visible;
  }
}

@media only screen and (max-width: 992px) {
  .p-logo{
    visibility:visible;
  }
}

